.container {
    /* border: 2px solid black; */
    width: 350px;
    margin: auto;
    height: 250px;
    margin-top: 8%;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
    display: flex;
    background-color: #1D3557;
    background-image: linear-gradient(to right, #1D3557, #131832);
}

h2 {
    /* border: 2px solid black; */
    width: 250px;
    margin: auto;
    color: #e0e0e0;
    padding: 20px;
    font-size: 30px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px black;
    text-align: center;
    background-color: #1D3557;
    background-image: linear-gradient(to top, #131832, #1D3557);

}